# Grey Matter Catalog Defaults

global:
  # Used as imagePullSecrets value for each subchart
  image_pull_secret: docker.secret
  # Deployment environment, one of "eks", "kuberenetes", or "openshift"
  environment: openshift
  # Used to configure control and control-api environment variables
  zone: zone-default-zone
  # Whether to use consul for service discovery
  consul:
    enabled: false
    host: ''
    port: 8500
    edge_port: 10808
  control:
    # Port for Grey Matter Control. Used in sidecar envvars
    port: 50000
    # The label Control uses to find pods to include in the mesh
    cluster_label: greymatter.io/control
  data:
    # whether to install an external data
    external:
      enabled: false
  # Whether or not to use spire for cert management and the trust domain
  spire:
    enabled: false
    trust_domain: quickstart.greymatter.io
    path: '/run/spire/socket/agent.sock'
  # Configures the init container used to wait on various deployments to be ready
  waiter:
    image: docker.greymatter.io/internal/k8s-waiter:latest
    service_account:
      name: waiter-sa
  # Global sidecar config (supports version and envvars)
  sidecar:
    version: 1.5.1
  # To use an external redis or not
  external_redis:
    disabled: true
  release:
    # release.production: true will increase all (except control-api) replicas to the default_replicas.  Otherwise the default for each chart will be used
    production: false
    default_replicas: 3

mesh_redis:
  # this is the name of the redis container and therefore svc
  name: mesh-redis
  # this is the name of the secret that holds the password for this redis instance
  secret_name: greymatter-mesh-redis-password
  host: "{{ .Values.mesh_redis.name }}.{{ .Release.Namespace }}.svc"
  port: '6379'
  use_tls: false
  ca_cert_path: ''
  server_cert_path: ''
  server_key_path: ''
  catalog_db: 2
  max_retries: 50
  retry_delay: '5s'

catalog:
  # Name used for the deployment and service resources
  name: catalog
  # GM Catalog version
  version: istio
  image: docker.greymatter.io/internal/gm-catalog:{{ $.Values.catalog.version }}
  # When to pull container images, used in the deployment
  image_pull_policy: IfNotPresent
  replicas: 1
  # CPU and memory limits for the catalog service
  resources:
    limits:
      cpu: 200m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 128Mi
  # Catalog service port
  port: 9080
  secret:
    enabled: true
    secret_name: sidecar-certs
    mount_point: /etc/pki
    secret_keys:
      ca: ca.crt
      cert: server.crt
      key: server.key
  envvars:
    debug:
      type: value
      value: 'true'
    config_source:
      type: value
      value: 'redis'
    redis_host:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ tpl .Values.mesh_redis.host . }}{{- else}}{{ .Values.global.external_redis.host }}{{- end }}'
    redis_port:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.port }}{{- else}}{{ .Values.global.external_redis.port }}{{- end }}'
    redis_use_tls:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.use_tls }}{{- else}}{{ .Values.global.external_redis.use_tls }}{{- end }}'
    redis_ca_cert_path:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.ca_cert_path }}{{- else}}{{ .Values.global.external_redis.ca_cert_path }}{{- end }}'
    redis_server_cert_path:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.server_cert_path }}{{- else}}{{ .Values.global.external_redis.server_cert_path }}{{- end }}'
    redis_server_key_path:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.server_key_path }}{{- else}}{{ .Values.global.external_redis.server_key_path }}{{- end }}'
    redis_pass:
      type: secret
      secret: '{{ .Values.mesh_redis.secret_name }}'
      key: password
    redis_db:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.catalog_db }}{{- else}}{{ .Values.global.external_redis.catalog_db }}{{- end }}'
    redis_max_retries:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.max_retries }}{{- else}}{{ .Values.global.external_redis.max_retries }}{{- end }}'
    redis_retry_delay:
      type: value
      value: '{{- if .Values.global.external_redis.disabled }}{{ .Values.mesh_redis.retry_delay }}{{- else}}{{ .Values.global.external_redis.retry_delay }}{{- end }}'
    port:
      type: value
      value: '{{ $.Values.catalog.port }}'
    use_tls:
      type: value
      value: 'true'
    ca_cert_path:
      type: value
      value: '/etc/pki/{{ .Values.catalog.secret.secret_keys.ca }}'
    server_cert_path:
      type: value
      value: '/etc/pki/{{ .Values.catalog.secret.secret_keys.cert }}'
    server_key_path:
      type: value
      value: '/etc/pki/{{ .Values.catalog.secret.secret_keys.key }}'

  init:
    image: 'docker.greymatter.io/release/gm-proxy:{{ tpl $.Values.sidecar.version $ }}'
    imagePullPolicy: IfNotPresent
    envvars:
      debug:
        type: 'value'
        value: 'true'
      catalog_api_host:
        type: 'value'
        value: '{{ .Values.catalog.name }}:{{ .Values.catalog.port }}'
      use_tls:
        type: value
        value: '{{ $.Values.catalog.secret.enabled | default false }}'
      certs_mount:
        type: value
        value: '{{ .Values.catalog.secret.mount_point | default "/etc/pki" }}'
      ca_cert:
        type: value
        value: '{{ .Values.catalog.secret.secret_keys.ca | default "ca.crt" }}'
      cert:
        type: value
        value: '{{ .Values.catalog.secret.secret_keys.cert | default "server.crt" }}'
      key:
        type: value
        value: '{{ .Values.catalog.secret.secret_keys.key | default "server.key" }}'

# Sidecar configuration for Catalog
sidecar:
  version: '{{- $.Values.global.sidecar.version | default "latest" }}'
  image: 'docker.greymatter.io/release/gm-proxy:{{ tpl $.Values.sidecar.version $ }}'
  # Port where the proxy will listen
  port: 10808
  # Port where the proxy will expose metrics
  metrics_port: 8081
  secret:
    enabled: true
    secret_name: sidecar-certs
    mount_point: /etc/proxy/tls/sidecar
    secret_keys:
      ca: ca.crt
      cert: server.crt
      key: server.key
  # Overrides global.sidecar.envvars
  envvars:
    xds_cluster:
      type: value
      value: '{{ .Values.catalog.name }}'
  # When to pull images, used in the deployment
  image_pull_policy: IfNotPresent
  # CPU and memory limits for the sidecar
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

# Services list used to configure Catalog, which populates service metadata for GM Dashboard
services:
  catalog:
    catalogEnabled: true
    controlEnabled: true
    serviceName: 'catalog'
    observablesEnabled: false
    port: 9080
    enableInstanceMetrics: 'true'
    capability: 'Mesh'
    documentation: '/services/catalog/latest/'
    name: 'Grey Matter Catalog'
    owner: 'Decipher'
    data_prefix: "/data"
    version: latest
    minInstances: 1
    maxInstances: 1
    ownerURL: "https://greymatter.io"
    apiEndpoint: 'services/catalog/latest/'
    apiSpecEndpoint: '/services/catalog/latest/'
    businessImpact: low
    description: The Grey Matter Catalog service interfaces with the Fabric mesh xDS interface to provide high level summaries and more easily consumable views of the current state of the mesh. It powers the Grey Matter application and any other applications that need to understand what is present in the mesh.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt

  # control:
  #   name: 'Grey Matter Control'
  #   serviceName: 'control'

  dashboard:
    catalogEnabled: true
    controlEnabled: true
    name: 'Grey Matter Dashboard'
    serviceName: 'dashboard'
    observablesEnabled: false
    port: 1337
    enableInstanceMetrics: 'true'
    capability: 'Apps'
    documentation: ''
    owner: 'Decipher'
    version: 4.0.2
    ownerURL: "https://greymatter.io"
    apiEndpoint: ''
    apiSpecEndpoint: ''
    businessImpact: low
    description: The Grey Matter application is a user dashboard that paints a high-level picture of the service mesh.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt


  prometheus:
    catalogEnabled: false
    controlEnabled: true
    name: 'Prometheus'
    serviceName: 'prometheus'
    observablesEnabled: false
    port: 9090
    secret:
      enabled: false

  data:
    catalogEnabled: true
    controlEnabled: true
    name: 'Grey Matter Data'
    serviceName: 'data'
    observablesEnabled: false
    port: 8181
    enableInstanceMetrics: 'true'
    capability: 'Data'
    jwt_prefix: '/jwt'
    documentation: '/services/data/latest/static/ui/index.html'
    owner: 'Decipher'
    version: 1.1.5
    ownerURL: "https://greymatter.io"
    apiEndpoint: 'services/data/latest/'
    apiSpecEndpoint: '/latest/static/'
    businessImpact: low
    description: Grey Matter Data is an API that enables secure and flexible access control for your microservices.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: [{name: "API Explorer", link: "/services/data/latest/static/ui/index.html"}]
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt

  jwt:
    catalogEnabled: true
    controlEnabled: true
    name: 'Grey Matter JWT Security'
    serviceName: 'jwt-security'
    observablesEnabled: false
    port: 3000
    enableInstanceMetrics: 'true'
    capability: 'Security'
    documentation: '/services/jwt-security/latest/'
    owner: 'Decipher'
    version: '1.2.0'
    ownerURL: "https://greymatter.io"
    apiEndpoint: 'services/jwt-security/latest/'
    apiSpecEndpoint: '/services/jwt-security/latest/'
    businessImpact: low
    description: The Grey Matter JWT security service is a JWT Token generation and retrieval service.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt

  controlApi:
    catalogEnabled: true
    controlEnabled: true
    name: 'Grey Matter Control API'
    serviceName: 'control-api'
    observablesEnabled: false
    port: 5555
    enableInstanceMetrics: 'true'
    capability: 'Mesh'
    documentation: '/services/control-api/latest/'
    owner: 'Decipher'
    version: '1.5.4'
    ownerURL: "https://greymatter.io"
    apiEndpoint: 'services/control-api/latest/'
    apiSpecEndpoint: '/services/control-api/latest/'
    businessImpact: low
    description: The purpose of the Grey Matter Control API is to update the configuration of every Grey Matter Proxy in the mesh.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt

  edge:
    catalogEnabled: true
    controlEnabled: false
    name: 'Grey Matter Edge'
    serviceName: 'edge'
    observablesEnabled: false
    port: 10808
    # This is the DN of the new certificate issued to the edge for internal mesh communication. It needs to be whitelisted by the proxies
    egressDn: C=US,ST=Virginia,L=Alexandria,O=Decipher Technology Studios,OU=Engineering,CN=edge
    # We use a static cert on the edge listener
    removeListenerSecret: true
    enableInstanceMetrics: 'true'
    capability: 'Mesh'
    documentation: ''
    owner: 'Decipher'
    version: '1.5.1'
    ownerURL: "https://greymatter.io"
    apiEndpoint: ''
    apiSpecEndpoint: ''
    businessImpact: low
    description: Grey Matter Edge handles north/south traffic flowing through the mesh.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    ingress:
      secret:
        enabled: true
        secret_name: greymatter-edge-ingress
        mount_point: /etc/proxy/tls/edge
        secret_keys:
          cert: server.crt
          key: server.key
          ca: ca.crt
    egress:
      secret:
        enabled: '{{- not .Values.global.spire.enabled }}'
        secret_name: greymatter-edge-egress
        mount_point: /etc/proxy/tls/sidecar
        secret_keys:
          cert: server.crt
          key: server.key
          ca: ca.crt

  slo:
    catalogEnabled: true
    controlEnabled: true
    name: 'Grey Matter Service Level Objectives'
    serviceName: 'slo'
    observablesEnabled: false
    port: 1337
    enableInstanceMetrics: 'true'
    capability: 'Sense'
    documentation: '/services/slo/latest/'
    owner: 'Decipher'
    version: '1.2.0'
    ownerURL: "https://greymatter.io"
    apiEndpoint: 'services/slo/latest/'
    apiSpecEndpoint: '/services/slo/latest/'
    businessImpact: low
    description: Grey Matter Service Level Objectives (SLOs) allows users to manage objectives towards service-level agreements.
    # External links configures the "Service Tools" dropdown in service view
    externalLinks: []
    secret:
      enabled: true
      secret_name: sidecar-certs
      mount_point: /etc/proxy/tls/sidecar
      insecure: true
      secret_keys:
        cert: server.crt
        key: server.key
        ca: ca.crt
